<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}|新蝶在线管理后台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Coderthemes" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    <!-- Icons css -->
    <link href="{% static 'admin/libs/@mdi/font/css/materialdesignicons.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'admin/libs/dripicons/webfont/webfont.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'admin/libs/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'admin/libs/jquery-toast-plugin/jquery.toast.min.css' %}" rel="stylesheet" type="text/css"/>
    <!-- App css -->
    <!-- build:css -->
    <link href="{% static 'admin/css/app.css' %}" rel="stylesheet" type="text/css"/>
    <!-- endbuild -->
    {% block css %}{% endblock %}

</head>

<body class="bg-account-pages">


{% block content %}{% endblock %}

<!-- jQuery  -->
<script src="{% static 'admin/libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admin/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'admin/libs/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'admin/libs/metismenu/dist/metisMenu.min.js' %}"></script>

<script src="{% static 'admin/libs/jquery-toast-plugin/jquery.toast.min.js' %}"></script>
<script src="{% static 'admin/js/jquery.toastr.js' %}"></script>

<script src="//captcha.luosimao.com/static/dist/api.js"></script>
<script src="{% static 'admin/libs/CryptoJS-master/rollups/jsencrypt.js' %}"></script>

<!-- App js -->
<script src="{% static 'admin/js/jquery.core.js' %}"></script>
<script src="{% static 'admin/js/jquery.app.js' %}"></script>
<script>
    function backAndFresh() {
        var url = document.referrer;
        window.location = url;
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    function psencrypt(word, public_key) {
        var password = word;
        //获取公钥
        var PUBLIC_KEY = public_key;
        //rsa加密
        var encrypt = new JSEncrypt();
        encrypt.setPublicKey(PUBLIC_KEY);
        password = encrypt.encrypt(password);//加密后的字符串
        return password;
    }


    var phonereg = /^(10[0-9]|13[0-9]|14[1456789]|15[0-3,5-9]|16[6]|17[01235678]|18[0-9]|19[89])\d{8}$/;
    var usernamereg = /^[a-zA-Z]{6,18}$/;
    var passwordreg = /^(?![a-zA-z]+$)(?!\d+$)(?![!@#$%^&*]+$)(?![a-zA-z\d]+$)(?![a-zA-z!@#$%^&*]+$)(?![\d!@#$%^&*]+$)[a-zA-Z\d!@#$%^&*]+$/;
</script>
{% block javascript %}

{% endblock %}
</body>
</html>
