{% extends 'PC/admin/auth-base.html' %}
{% load static %}
{% block title %}用户登录{% endblock %}
{% block css %}{% endblock %}

{% block content %}

    <!-- Login -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="wrapper-page">
                        <div class="account-pages">
                            <div class="account-box">

                                <!-- Logo box-->
                                <div class="account-logo-box">
                                    <h2 class="text-uppercase text-center">
                                        <a href="{% url 'admin:index' %}" class="text-success">
                                            <span><img src="{% static 'admin/images/logo_dark.png' %}" alt=""
                                                       height="40"></span>
                                        </a>
                                    </h2>
                                </div>

                                <div class="account-content">
                                    <form>
                                        <div class="form-group mb-3">
                                            <label for="username" class="font-weight-medium">账号</label>
                                            <input class="form-control" type="text" id="username" required=""
                                                   placeholder="用户名/手机号/邮箱">
                                        </div>

                                        <div class="form-group mb-3">
                                            <label for="password" class="font-weight-medium">密码</label>
                                            <input class="form-control" type="password" required="" id="password"
                                                   placeholder="密码">
                                        </div>

                                        <div class="l-captcha form-group mb-1"
                                             data-site-key="5227faddc6d28a388916dd9cccee1732"
                                             data-width="100%"></div>
                                        <div class="form-group row text-center">
                                            <div class="col-12">
                                                <button class="btn btn-block btn-dark btn-rounded waves-effect waves-light"
                                                        onclick="LUOCAPTCHA.reset()">重置人机校验
                                                </button>
                                            </div>
                                        </div>


                                    </form> <!-- end form -->
                                    <div class="form-group row text-center">
                                        <div class="col-12">
                                            <button class="btn btn-block btn-success waves-effect waves-light btn-rounded"
                                                    onclick="login()">登录
                                            </button>
                                        </div>
                                    </div>

                                </div> <!-- end account-content -->

                            </div> <!-- end account-box -->
                        </div>
                        <!-- end account-page-->
                    </div>
                    <!-- end wrapper-page -->

                </div> <!-- end col -->
            </div> <!-- end row -->
        </div> <!-- end container -->
    </section>
    <!-- END HOME -->



{% endblock %}

{% block javascript %}

    <script>
        function login() {
            username = document.getElementById('username').value;
            password = psencrypt(document.getElementById('password').value, "{{ public_key|safe }}");
            luosimaocaptcha = $("#lc-captcha-response").val();
            if (username == "") {
                $.NotificationApp.send("提示信息!", "请您先输入用户名！", 'top-center', '#b56d12', 'warning');
                LUOCAPTCHA.reset();
            } else if (document.getElementById('password').value == "") {
                $.NotificationApp.send("提示信息!", "您必须输入密码！", 'top-center', '#b56d12', 'warning');
                LUOCAPTCHA.reset();
            } else if (luosimaocaptcha == "") {
                $.NotificationApp.send("提示信息!", "请先进行人机验证！", 'top-center', '#b56d12', 'warning');
                LUOCAPTCHA.reset();
            } else {
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "{% url 'admin:user_login' %}",
                    data: JSON.stringify({
                        'username': username,
                        'password': password,
                        'captcha': luosimaocaptcha,
                        'next': "{{ request.GET.next }}",
                    }),
                    datatype: 'json',
                    async: true,
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                        console.log("{{ csrf_token }}");
                    },
                    success: function (data) {
                        if (data.success == 'success') {
                            $.NotificationApp.send("提示信息", "登陆成功，即将跳转到登陆界面！", 'top-center', '#5ba035', 'success');
                            LUOCAPTCHA.reset();
                            window.location.href = data.next;
                        } else {
                            $.NotificationApp.send("提示信息!", data.message, 'top-center', '#b56d12', 'warning');
                            LUOCAPTCHA.reset();
                        }
                    }
                });
            }
        }
    </script>
{% endblock %}